{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <p><input type=file name=file>
        <input type=submit value=Upload>
</form>
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>SR Number:
        <dd><input type="text" size="30" name="SR_Number">
        <dt>Site Name:
        <dd><input type="text" size="30" name="Site_Name">
        <dt>Site ID:
        <dd><input type="text" size="30" name="Site_ID">
        <dt>Severity:
        <dd><input type="text" size="30" name="Severity">
        <dt>Issue:
        <dd><textarea name="Issue" rows="5" cols="40"></textarea>
        <dt>Serial Number:
        <dd><input type="text" size="30" name="Serial_Number">
          <dd><input type="submit" value="Submit">
      </dl>
    </form>
  {% endif %}
  <ul class="entries"><li><table>
      <thead>
      <tr>
          <th>SR Number</th>
          <th>Site Name</th>
          <th>Site ID</th>
          <th>Severity</th>
          <th>Issue</th>
          <th>Serial Number</th>
      </tr>
      </thead>
  {% for entry in entries %}

      <tbody>
      <tr>
          <td>{{ entry.SR_Number }}</td>
          <td>{{ entry.Site_Name }}</td>
          <td>{{ entry.Site_ID }}</td>
          <td>{{ entry.Severity }}</td>
          <td>{{ entry.Issue|safe }}</td>
          <td>{{ entry.Serial_Number }}</td>
      </tr>
      </tbody>
   </table></li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
